<img src="../assets/notebook_banner.png" alt="Notebook Banner" width= "100%">

# **Chinook Retail Analytics ‚Äî SQL-Driven Business Insights**


Welcome to the **Chinook SQL Analytics Project Notebook**.  

This notebook contains a step-by-step, reproducible analysis of the Chinook digital music store dataset using **SQL within Jupyter Notebook**.  
The primary goal is to deliver **actionable, data-driven insights** that support strategic decision-making across marketing, sales, catalog curation, and team performance.  

---

## Notebook Objectives  

- **Customer & Market Insights** ‚Äî Identify high-value customers, revenue by country, and average order value trends.  
- **Sales & Revenue Analytics** ‚Äî Track total revenue, units sold, top tracks, artists, genres, and formats.  
- **Basket & Pricing Behavior** ‚Äî Explore basket sizes, basket value distribution, and price sensitivity.  
- **Catalogue & Content Curation** ‚Äî Detect catalogue gaps, playlist opportunities, and high-performing content.  
- **Team Performance (Account Managers)** ‚Äî Measure rep-managed revenue, average invoice value, and portfolio coverage.  

---

## Notebook Structure  

This notebook is organized into the following sections:  

1. **Environment Setup** ‚Äì Connecting Jupyter to the Chinook SQLite database.  
2. **Exploratory SQL Queries** ‚Äì Writing and executing queries to answer business questions.  
3. **Insights & Recommendations** ‚Äì Interpreting results for stakeholders and proposing actions.  
4. **Conclusion** ‚Äì Summarizing key findings and business impact.  

---

<a id="cont"></a>

## üìö Table of Contents

<a href=#one>1. Customer & Market Insights</a>

<a href=#two>2. Company's Sales & Revenue Analytics</a>

<a href=#three>3. Basket & Pricing Behavior</a>

<a href=#four>4. Catalogue & Content Curation</a>

<a href=#five>5. Team Performance</a>

## üîß Setup

In [ ]:
# Install required libraries (if not already installed)
%pip install sqlalchemy ipython-sql pandas matplotlib

In [ ]:
# Load Jupyter SQL extension
%load_ext sql

In [ ]:
# Connect to the Chinook database
%sql sqlite:///databa/chinook.db


<a id="one"></a>
## 1Ô∏è‚É£. Customer & Market Insights
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ‚ö° Business Problem from Management ‚ö° |
| :--------------------------- |
| Management needs to understand all revenue sources. Placing priority on;   
- The most valuable customers, 
- Best regions/countries of sales, 
- Retainable customers and one-timer shoppers. 
- Market-level Average Order Value (AOV)  

---


### **Queries**

### 1.1 Company's Top Lifetime Value Customers

In [5]:
%%sql
SELECT c.CustomerId,
       c.FirstName || ' ' || c.LastName AS Customer,
       c.Country,
       ROUND(SUM(i.Total), 2) AS LifetimeRevenue
FROM customers c
JOIN invoices  i ON i.CustomerId = c.CustomerId
GROUP BY c.CustomerId
ORDER BY LifetimeRevenue DESC
LIMIT 20;

 * sqlite:///chinook.db
Done.

[(6, 'Helena Hol√Ω', 'Czech Republic', 49.62),
 (26, 'Richard Cunningham', 'USA', 47.62),
 (57, 'Luis Rojas', 'Chile', 46.62),
 (45, 'Ladislav Kov√°cs', 'Hungary', 45.62),
 (46, "Hugh O'Reilly", 'Ireland', 45.62),
 (24, 'Frank Ralston', 'USA', 43.62),
 (28, 'Julia Barnett', 'USA', 43.62),
 (37, 'Fynn Zimmermann', 'Germany', 43.62),
 (7, 'Astrid Gruber', 'Austria', 42.62),
 (25, 'Victor Stevens', 'USA', 42.62),
 (44, 'Terhi H√§m√§l√§inen', 'Finland', 41.62),
 (5, 'Franti≈°ek Wichterlov√°', 'Czech Republic', 40.62),
 (43, 'Isabelle Mercier', 'France', 40.62),
 (48, 'Johannes Van der Berg', 'Netherlands', 40.62),
 (1, 'Lu√≠s Gon√ßalves', 'Brazil', 39.62),
 (3, 'Fran√ßois Tremblay', 'Canada', 39.62),
 (4, 'Bj√∏rn Hansen', 'Norway', 39.62),
 (17, 'Jack Smith', 'USA', 39.62),
 (20, 'Dan Miller', 'USA', 39.62),
 (22, 'Heather Leacock', 'USA', 39.62)]

### 1.2 Company's Revenue Generated by Country

In [6]:
%%sql
WITH revenue_by_country AS (
    SELECT 
        c.Country,
        ROUND(SUM(i.Total), 2) AS Revenue
    FROM customers c
    JOIN invoices i ON i.CustomerId = c.CustomerId
    GROUP BY c.Country
),
ranked AS (
    SELECT 
        Country,
        Revenue,
        ROUND((Revenue * 100.0 / (SELECT SUM(Revenue) FROM revenue_by_country)), 2) AS RevenuePercentage
    FROM revenue_by_country
    ORDER BY Revenue DESC
)
SELECT 
    Country,
    Revenue,
    RevenuePercentage,
    ROUND(SUM(RevenuePercentage) OVER (ORDER BY Revenue DESC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW), 2) AS CumulativePercentage
FROM ranked
ORDER BY Revenue DESC;

 * sqlite:///chinook.db
Done.

[('USA', 523.06, 22.46, 22.46),
 ('Canada', 303.96, 13.05, 35.51),
 ('France', 195.1, 8.38, 43.89),
 ('Brazil', 190.1, 8.16, 52.05),
 ('Germany', 156.48, 6.72, 58.77),
 ('United Kingdom', 112.86, 4.85, 63.62),
 ('Czech Republic', 90.24, 3.88, 67.5),
 ('Portugal', 77.24, 3.32, 70.82),
 ('India', 75.26, 3.23, 74.05),
 ('Chile', 46.62, 2.0, 76.05),
 ('Hungary', 45.62, 1.96, 78.01),
 ('Ireland', 45.62, 1.96, 79.97),
 ('Austria', 42.62, 1.83, 81.8),
 ('Finland', 41.62, 1.79, 83.59),
 ('Netherlands', 40.62, 1.74, 85.33),
 ('Norway', 39.62, 1.7, 87.03),
 ('Sweden', 38.62, 1.66, 88.69),
 ('Argentina', 37.62, 1.62, 90.31),
 ('Australia', 37.62, 1.62, 91.93),
 ('Belgium', 37.62, 1.62, 93.55),
 ('Denmark', 37.62, 1.62, 95.17),
 ('Italy', 37.62, 1.62, 96.79),
 ('Poland', 37.62, 1.62, 98.41),
 ('Spain', 37.62, 1.62, 100.03)]

### 1.3 Company's Average Order Value (AOV).

In [7]:
%%sql
SELECT c.Country,
       ROUND(AVG(i.Total), 2) AS AvgOrderValue
FROM customers c
JOIN invoices  i ON i.CustomerId = c.CustomerId
GROUP BY c.Country
ORDER BY AvgOrderValue DESC;

 * sqlite:///chinook.db
Done.

[('Chile', 6.66),
 ('Ireland', 6.52),
 ('Hungary', 6.52),
 ('Czech Republic', 6.45),
 ('Austria', 6.09),
 ('Finland', 5.95),
 ('Netherlands', 5.8),
 ('India', 5.79),
 ('USA', 5.75),
 ('Norway', 5.66),
 ('Germany', 5.59),
 ('France', 5.57),
 ('Sweden', 5.52),
 ('Portugal', 5.52),
 ('Canada', 5.43),
 ('Brazil', 5.43),
 ('United Kingdom', 5.37),
 ('Spain', 5.37),
 ('Poland', 5.37),
 ('Italy', 5.37),
 ('Denmark', 5.37),
 ('Belgium', 5.37),
 ('Australia', 5.37),
 ('Argentina', 5.37)]

### 1.4  Returning  vs. One-timer Customers (Based on Number o Invoices)

In [7]:
%%sql
WITH counts AS (
  SELECT c.CustomerId, COUNT(i.InvoiceId) AS Orders
  FROM customers c
  LEFT JOIN invoices i ON i.CustomerId = c.CustomerId
  GROUP BY c.CustomerId
)
SELECT
  SUM(CASE WHEN Orders = 1 THEN 1 ELSE 0 END) AS OneTimeCustomers,
  SUM(CASE WHEN Orders > 1 THEN 1 ELSE 0 END) AS ReturningCustomers
FROM counts;

 * sqlite:///chinook.db
Done.

[(0, 59)]


<a id="two"></a>
## 2Ô∏è‚É£. Company's Sales & Revenue Analytics
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ‚ö° Business Problem from Management ‚ö° |
| :--------------------------- |
| Management needs a single view of the overall sales performance: 
- Company's total revenue 
- Company's monthly revenue, and 
- Sales trends, and top-performing tracks, artists, genres and formats to steer promotions and targets.  

---


### **Queries**

### 2.1  Headline KPIs: revenue & units sold

In [25]:
%%sql
SELECT ROUND(SUM(i.Total), 2) AS TotalRevenue,
       SUM(ii.Quantity)       AS UnitsSold
FROM invoices i
JOIN invoice_items ii ON ii.InvoiceId = i.InvoiceId;

 * sqlite:///chinook.db
Done.

[(20848.62, 2240)]

### 2.2 Monthly revenue trend (Month-Year)

In [26]:
%%sql
SELECT 
  SUBSTR(i.InvoiceDate, 6, 2) || '-' || SUBSTR(i.InvoiceDate, 1, 4) AS MonthYear,
  ROUND(SUM(i.Total), 2) AS Revenue
FROM invoices i
GROUP BY SUBSTR(i.InvoiceDate, 6, 2) || '-' || SUBSTR(i.InvoiceDate, 1, 4)
ORDER BY MonthYear;

 * sqlite:///chinook.db
Done.

[('01-2009', 35.64),
 ('01-2010', 52.62),
 ('01-2011', 37.62),
 ('01-2012', 37.62),
 ('01-2013', 37.62),
 ('02-2009', 37.62),
 ('02-2010', 46.62),
 ('02-2011', 37.62),
 ('02-2012', 37.62),
 ('02-2013', 27.72),
 ('03-2009', 37.62),
 ('03-2010', 44.62),
 ('03-2011', 37.62),
 ('03-2012', 37.62),
 ('03-2013', 37.62),
 ('04-2009', 37.62),
 ('04-2010', 37.62),
 ('04-2011', 51.62),
 ('04-2012', 37.62),
 ('04-2013', 33.66),
 ('05-2009', 37.62),
 ('05-2010', 37.62),
 ('05-2011', 42.62),
 ('05-2012', 37.62),
 ('05-2013', 37.62),
 ('06-2009', 37.62),
 ('06-2010', 37.62),
 ('06-2011', 50.62),
 ('06-2012', 37.62),
 ('06-2013', 37.62),
 ('07-2009', 37.62),
 ('07-2010', 37.62),
 ('07-2011', 37.62),
 ('07-2012', 39.62),
 ('07-2013', 37.62),
 ('08-2009', 37.62),
 ('08-2010', 37.62),
 ('08-2011', 37.62),
 ('08-2012', 47.62),
 ('08-2013', 37.62),
 ('09-2009', 37.62),
 ('09-2010', 36.63),
 ('09-2011', 37.62),
 ('09-2012', 46.71),
 ('09-2013', 37.62),
 ('10-2009', 37.62),
 ('10-2010', 37.62),
 ('10-2011', 37.62),
 ('10-2012', 42.62),
 ('10-2013', 37.62),
 ('11-2009', 37.62),
 ('11-2010', 37.62),
 ('11-2011', 23.76),
 ('11-2012', 37.62),
 ('11-2013', 49.62),
 ('12-2009', 37.62),
 ('12-2010', 37.62),
 ('12-2011', 37.62),
 ('12-2012', 37.62),
 ('12-2013', 38.62)]

###     2.3 Top 10 tracks by revenue

In [13]:
%%sql
SELECT t.TrackId,
       t.Name AS Track,
       ar.Name AS Artist,
       ROUND(SUM(ii.UnitPrice * ii.Quantity), 2) AS Revenue
FROM invoice_items ii
JOIN tracks   t  ON t.TrackId   = ii.TrackId
JOIN albums   al ON al.AlbumId  = t.AlbumId
JOIN artists  ar ON ar.ArtistId = al.ArtistId
GROUP BY t.TrackId
ORDER BY Revenue DESC
LIMIT 10;

 * sqlite:///chinook.db
Done.

[(2832, 'The Woman King', 'Battlestar Galactica', 3.98),
 (2850, 'The Fix', 'Heroes', 3.98),
 (2868, 'Walkabout', 'Lost', 3.98),
 (3177, 'Hot Girl', 'The Office', 3.98),
 (3200, 'Gay Witch Hunt', 'The Office', 3.98),
 (3214, "Phyllis's Wedding", 'The Office', 3.98),
 (3223, 'How to Stop an Exploding Man', 'Heroes', 3.98),
 (3250, 'Pilot', 'Aquaman', 3.98),
 (2820, 'Occupation / Precipice', 'Battlestar Galactica', 1.99),
 (2821, 'Exodus, Pt. 1', 'Battlestar Galactica', 1.99)]

###     2.4 Top 10 artists by revenue

In [10]:
%%sql
SELECT ar.ArtistId,
       ar.Name AS Artist,
       ROUND(SUM(ii.UnitPrice * ii.Quantity), 2) AS Revenue
FROM invoice_items ii
JOIN tracks  t  ON t.TrackId   = ii.TrackId
JOIN albums  al ON al.AlbumId  = t.AlbumId
JOIN artists ar ON ar.ArtistId = al.ArtistId
GROUP BY ar.ArtistId
ORDER BY Revenue DESC
LIMIT 10;

 * sqlite:///chinook.db
Done.

[(90, 'Iron Maiden', 138.6),
 (150, 'U2', 105.93),
 (50, 'Metallica', 90.09),
 (22, 'Led Zeppelin', 86.13),
 (149, 'Lost', 81.59),
 (156, 'The Office', 49.75),
 (113, 'Os Paralamas Do Sucesso', 44.55),
 (58, 'Deep Purple', 43.56),
 (82, 'Faith No More', 41.58),
 (81, 'Eric Clapton', 39.6)]

###     2.5 Revenue by genre

In [13]:
%%sql
SELECT g.Name AS Genre,
       ROUND(SUM(ii.UnitPrice * ii.Quantity), 2) AS Revenue
FROM invoice_items ii
JOIN tracks t  ON t.TrackId  = ii.TrackId
JOIN genres g  ON g.GenreId  = t.GenreId
GROUP BY g.GenreId
ORDER BY Revenue DESC;

 * sqlite:///chinook.db
Done.

[('Rock', 826.65),
 ('Latin', 382.14),
 ('Metal', 261.36),
 ('Alternative & Punk', 241.56),
 ('TV Shows', 93.53),
 ('Jazz', 79.2),
 ('Blues', 60.39),
 ('Drama', 57.71),
 ('R&B/Soul', 40.59),
 ('Classical', 40.59),
 ('Sci Fi & Fantasy', 39.8),
 ('Reggae', 29.7),
 ('Pop', 27.72),
 ('Soundtrack', 19.8),
 ('Comedy', 17.91),
 ('Hip Hop/Rap', 16.83),
 ('Bossa Nova', 14.85),
 ('Alternative', 13.86),
 ('World', 12.87),
 ('Science Fiction', 11.94),
 ('Heavy Metal', 11.88),
 ('Electronica/Dance', 11.88),
 ('Easy Listening', 9.9),
 ('Rock And Roll', 5.94)]

In [ ]:
%%sql
    WITH GenreRevenue AS (
        SELECT 
            g.Name AS Genre,
            ROUND(SUM(ii.UnitPrice * ii.Quantity), 2) AS Revenue
        FROM invoice_items ii
        JOIN tracks t ON t.TrackId = ii.TrackId
        JOIN genres g ON g.GenreId = t.GenreId
        GROUP BY g.GenreId
    ),
    TotalRevenue AS (
        SELECT SUM(Revenue) AS Total FROM GenreRevenue
    )
    SELECT 
        gr.Genre,
        gr.Revenue,
        ROUND(100.0 * gr.Revenue / tr.Total, 2) AS Percentage,
        ROUND(SUM(100.0 * gr.Revenue / tr.Total) OVER (ORDER BY gr.Revenue DESC), 2) AS Cumulative_Percentage
    FROM GenreRevenue gr, TotalRevenue tr
    ORDER BY gr.Revenue DESC;

 * sqlite:///chinook.db
Done.

[('Rock', 826.65, 35.5, 35.5),
 ('Latin', 382.14, 16.41, 51.91),
 ('Metal', 261.36, 11.22, 63.13),
 ('Alternative & Punk', 241.56, 10.37, 73.51),
 ('TV Shows', 93.53, 4.02, 77.52),
 ('Jazz', 79.2, 3.4, 80.93),
 ('Blues', 60.39, 2.59, 83.52),
 ('Drama', 57.71, 2.48, 86.0),
 ('R&B/Soul', 40.59, 1.74, 89.48),
 ('Classical', 40.59, 1.74, 89.48),
 ('Sci Fi & Fantasy', 39.8, 1.71, 91.19),
 ('Reggae', 29.7, 1.28, 92.47),
 ('Pop', 27.72, 1.19, 93.66),
 ('Soundtrack', 19.8, 0.85, 94.51),
 ('Comedy', 17.91, 0.77, 95.28),
 ('Hip Hop/Rap', 16.83, 0.72, 96.0),
 ('Bossa Nova', 14.85, 0.64, 96.64),
 ('Alternative', 13.86, 0.6, 97.23),
 ('World', 12.87, 0.55, 97.79),
 ('Science Fiction', 11.94, 0.51, 98.3),
 ('Heavy Metal', 11.88, 0.51, 99.32),
 ('Electronica/Dance', 11.88, 0.51, 99.32),
 ('Easy Listening', 9.9, 0.43, 99.74),
 ('Rock And Roll', 5.94, 0.26, 100.0)]

###     2.6 Revenue by media type (format)

In [14]:
%%sql
SELECT mt.Name AS MediaType,
       ROUND(SUM(ii.UnitPrice * ii.Quantity), 2) AS Revenue
FROM invoice_items ii
JOIN tracks t   ON t.TrackId         = ii.TrackId
JOIN media_types mt ON mt.MediaTypeId = t.MediaTypeId
GROUP BY mt.MediaTypeId
ORDER BY Revenue DESC;

 * sqlite:///chinook.db
Done.

[('MPEG audio file', 1956.24),
 ('Protected MPEG-4 video file', 220.89),
 ('Protected AAC audio file', 144.54),
 ('Purchased AAC audio file', 3.96),
 ('AAC audio file', 2.97)]

In [32]:
%%sql
WITH MediaTypeRevenue AS (
    SELECT 
        mt.Name AS MediaType,
        ROUND(SUM(ii.UnitPrice * ii.Quantity), 2) AS Revenue
    FROM invoice_items ii
    JOIN tracks t ON t.TrackId = ii.TrackId
    JOIN media_types mt ON mt.MediaTypeId = t.MediaTypeId
    GROUP BY mt.MediaTypeId
),
TotalRevenue AS (
    SELECT SUM(Revenue) AS Total FROM MediaTypeRevenue
)
SELECT 
    mtr.MediaType,
    mtr.Revenue,
    ROUND(100.0 * mtr.Revenue / tr.Total, 2) AS Percentage
FROM MediaTypeRevenue mtr, TotalRevenue tr
ORDER BY mtr.Revenue DESC;

 * sqlite:///chinook.db
Done.

[('MPEG audio file', 1956.24, 84.01),
 ('Protected MPEG-4 video file', 220.89, 9.49),
 ('Protected AAC audio file', 144.54, 6.21),
 ('Purchased AAC audio file', 3.96, 0.17),
 ('AAC audio file', 2.97, 0.13)]


<a id="three"></a>
## 3Ô∏è‚É£. Basket & Pricing Behavior
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ‚ö° Business Problem from Management ‚ö° |
| :--------------------------- |
| Management wants to understand basket composition (size and value) and identify: 
- Which invoices are large? 
- Which products sell high volume on discount? 

---


### **Queries**

###     3.1 Largest baskets by quantity and value

In [37]:
%%sql
SELECT ii.InvoiceId,
       SUM(ii.Quantity) AS ItemsInBasket,
       ROUND(SUM(ii.UnitPrice * ii.Quantity), 2) AS BasketValue
FROM invoice_items ii
GROUP BY ii.InvoiceId
ORDER BY ItemsInBasket DESC, BasketValue DESC
LIMIT 60;

 * sqlite:///chinook.db
Done.

[(404, 14, 25.86),
 (299, 14, 23.86),
 (96, 14, 21.86),
 (194, 14, 21.86),
 (89, 14, 18.86),
 (201, 14, 18.86),
 (306, 14, 16.86),
 (313, 14, 16.86),
 (103, 14, 15.86),
 (208, 14, 15.86),
 (5, 14, 13.86),
 (12, 14, 13.86),
 (19, 14, 13.86),
 (26, 14, 13.86),
 (33, 14, 13.86),
 (40, 14, 13.86),
 (47, 14, 13.86),
 (54, 14, 13.86),
 (61, 14, 13.86),
 (68, 14, 13.86),
 (75, 14, 13.86),
 (82, 14, 13.86),
 (110, 14, 13.86),
 (117, 14, 13.86),
 (124, 14, 13.86),
 (131, 14, 13.86),
 (138, 14, 13.86),
 (145, 14, 13.86),
 (152, 14, 13.86),
 (159, 14, 13.86),
 (166, 14, 13.86),
 (173, 14, 13.86),
 (180, 14, 13.86),
 (187, 14, 13.86),
 (215, 14, 13.86),
 (222, 14, 13.86),
 (229, 14, 13.86),
 (236, 14, 13.86),
 (243, 14, 13.86),
 (250, 14, 13.86),
 (257, 14, 13.86),
 (264, 14, 13.86),
 (271, 14, 13.86),
 (278, 14, 13.86),
 (285, 14, 13.86),
 (292, 14, 13.86),
 (320, 14, 13.86),
 (327, 14, 13.86),
 (334, 14, 13.86),
 (341, 14, 13.86),
 (348, 14, 13.86),
 (355, 14, 13.86),
 (362, 14, 13.86),
 (369, 14, 13.86),
 (376, 14, 13.86),
 (383, 14, 13.86),
 (390, 14, 13.86),
 (397, 14, 13.86),
 (411, 14, 13.86),
 (88, 9, 17.91)]

###     3.2 Popular tracks with lower average prices.

In [21]:
%%sql
WITH track_stats AS (
  SELECT 
    t.TrackId,
    t.Name,
    AVG(ii.UnitPrice) AS AvgPrice,
    SUM(ii.Quantity)  AS TotalQty,
    SUM(ii.UnitPrice * ii.Quantity) AS TotalRevenue
  FROM tracks t
  JOIN invoice_items ii ON ii.TrackId = t.TrackId
  GROUP BY t.TrackId
)
SELECT 
  Name, 
  ROUND(AvgPrice, 2) AS AvgPrice, 
  TotalQty,
  ROUND(TotalRevenue, 2) AS TotalRevenue
FROM track_stats
ORDER BY TotalQty DESC, AvgPrice ASC
LIMIT 15;

 * sqlite:///chinook.db
Done.

[('Balls to the Wall', 0.99, 2, 1.98),
 ('Inject The Venom', 0.99, 2, 1.98),
 ('Snowballed', 0.99, 2, 1.98),
 ('Overdose', 0.99, 2, 1.98),
 ('Deuces Are Wild', 0.99, 2, 1.98),
 ('Not The Doctor', 0.99, 2, 1.98),
 ('Por Causa De Voc√™', 0.99, 2, 1.98),
 ('Welcome Home (Sanitarium)', 0.99, 2, 1.98),
 ('Snowblind', 0.99, 2, 1.98),
 ('Cornucopia', 0.99, 2, 1.98),
 ('Bowels Of The Devil', 0.99, 2, 1.98),
 ('Voodoo', 0.99, 2, 1.98),
 ('Chemical Wedding', 0.99, 2, 1.98),
 ('When My Left Eye Jumps', 0.99, 2, 1.98),
 ('Medita√ß√£o', 0.99, 2, 1.98)]


<a id="four"></a>
## 4Ô∏è‚É£. Catalogue & Content Curation
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ‚ö° Business Problem from Management ‚ö° |
| :--------------------------- |
| Content team needs to ensure the catalogue is well curated by having insights on: 
- Which albums have depth?
- Where are curation gaps (tracks not in any playlist)? 
- What is the most play-listed (social proof). 

---


### **Queries**

### 4.1 Albums with deepest tracklists

In [ ]:
%%sql
SELECT al.AlbumId,
       al.Title AS Album,
       ar.Name  AS Artist,
       COUNT(t.TrackId) AS NumTracks
FROM albums al
JOIN artists ar ON ar.ArtistId = al.ArtistId
JOIN tracks  t  ON t.AlbumId   = al.AlbumId
GROUP BY al.AlbumId
ORDER BY NumTracks DESC, Album;

 * sqlite:///chinook.db
Done.

[(141, 'Greatest Hits', 'Lenny Kravitz', 57),
 (23, 'Minha Historia', 'Chico Buarque', 34),
 (73, 'Unplugged', 'Eric Clapton', 30),
 (229, 'Lost, Season 3', 'Lost', 26),
 (230, 'Lost, Season 1', 'Lost', 25),
 (251, 'The Office, Season 3', 'The Office', 25),
 (253, 'Battlestar Galactica (Classic), Season 1', 'Battlestar Galactica (Classic)', 24),
 (231, 'Lost, Season 2', 'Lost', 24),
 (83, 'My Way: The Best Of Frank Sinatra [Disc 1]', 'Frank Sinatra', 24),
 (24, 'Afrociberdelia', 'Chico Science & Na√ß√£o Zumbi', 23),
 (228, 'Heroes, Season 1', 'Heroes', 23),
 (255, 'Instant Karma: The Amnesty International Campaign to Save Darfur', 'U2', 23),
 (224, 'Ac√∫stico', 'Tit√£s', 22),
 (250, 'The Office, Season 2', 'The Office', 22),
 (51, "Up An' Atom", 'Gene Krupa', 22),
 (167, 'Ac√∫stico MTV', 'Os Paralamas Do Sucesso', 21),
 (39, 'International Superhits', 'Green Day', 21),
 (54, 'Chronicle, Vol. 1', 'Creedence Clearwater Revival', 20),
 (55, 'Chronicle, Vol. 2', 'Creedence Clearwater Revival', 20),
 (37, 'Greatest Kiss', 'Kiss', 20),
 (221, 'My Generation - The Very Best Of The Who', 'The Who', 20),
 (115, 'Sex Machine', 'James Brown', 20),
 (248, 'Ao Vivo [IMPORT]', 'Zeca Pagodinho', 19),
 (227, 'Battlestar Galactica, Season 3', 'Battlestar Galactica', 19),
 (258, 'House of Pain', 'House Of Pain', 19),
 (145, 'Barulhinho Bom', 'Marisa Monte', 18),
 (102, 'Live After Death', 'Iron Maiden', 18),
 (21, 'Prenda Minha', 'Caetano Veloso', 18),
 (213, 'Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]', 'The Cult', 18),
 (202, 'Rotten Apples: Greatest Hits', 'Smashing Pumpkins', 18),
 (146, 'Seek And Shall Find: More Of The Best (1963-1981)', 'Marvin Gaye', 18),
 (72, 'The Cream Of Clapton', 'Eric Clapton', 18),
 (211, 'The Singles', 'The Clash', 18),
 (203, 'A-Sides', 'Soundgarden', 17),
 (26, 'Ac√∫stico MTV [Live]', 'Cidade Negra', 17),
 (120, 'Are You Experienced?', 'Jimi Hendrix', 17),
 (193, 'Blood Sugar Sex Magik', 'Red Hot Chili Peppers', 17),
 (18, 'Body Count', 'Body Count', 17),
 (33, 'Chill: Brazil (Disc 1)', 'Marcos Valle', 17),
 (34, 'Chill: Brazil (Disc 2)', 'Ant√¥nio Carlos Jobim', 17),
 (163, 'From The Muddy Banks Of The Wishkah [Live]', 'Nirvana', 17),
 (185, 'Greatest Hits I', 'Queen', 17),
 (36, 'Greatest Hits II', 'Queen', 17),
 (261, 'LOST, Season 4', 'Lost', 17),
 (162, 'Motley Crue Greatest Hits', 'M√∂tley Cr√ºe', 17),
 (259, 'Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro', 'O Rappa', 17),
 (237, 'Rattle And Hum', 'U2', 17),
 (243, 'The Best Of Van Halen, Vol. I', 'Van Halen', 17),
 (169, 'Arquivo Os Paralamas Do Sucesso', 'Os Paralamas Do Sucesso', 16),
 (194, 'By The Way', 'Red Hot Chili Peppers', 16),
 (149, 'Garage Inc. (Disc 2)', 'Metallica', 16),
 (201, 'Judas 0: B-Sides and Rarities', 'Smashing Pumpkins', 16),
 (178, 'Live On Two Legs [Live]', 'Pearl Jam', 16),
 (125, 'Living After Midnight', 'Judas Priest', 16),
 (140, 'Mais Do Mesmo', 'Legi√£o Urbana', 16),
 (184, 'Os C√£es Ladram Mas A Caravana N√£o P√°ra', 'Planet Hemp', 16),
 (84, 'Roda De Funk', 'Funk Como Le Gusta', 16),
 (190, 'The Best Of R.E.M.: The IRS Years', 'R.E.M.', 16),
 (91, 'Use Your Illusion I', "Guns N' Roses", 16),
 (67, "Vault: Def Leppard's Greatest Hits", 'Def Leppard', 16),
 (225, 'Volume Dois', 'Tit√£s', 16),
 (139, 'A TempestadeTempestade Ou O Livro Dos Dias', 'Legi√£o Urbana', 15),
 (160, 'Ace Of Spades', 'Mot√∂rhead', 15),
 (234, 'B-Sides 1980-1990', 'U2', 15),
 (5, 'Big Ones', 'Aerosmith', 15),
 (195, 'Californication', 'Red Hot Chili Peppers', 15),
 (165, 'Compositores', 'O Ter√ßo', 15),
 (56, 'C√°ssia Eller - Cole√ß√£o Sem Limite [Disc 2]', 'C√°ssia Eller', 15),
 (57, 'C√°ssia Eller - Sem Limite [Disc 1]', 'C√°ssia Eller', 15),
 (76, 'King For A Day Fool For A Lifetime', 'Faith No More', 15),
 (86, 'Quanta Gente Veio Ver (Live)', 'Gilberto Gil', 15),
 (180, 'Riot Act', 'Pearl Jam', 15),
 (222, 'Serie Sem Limite (Disc 1)', 'Tim Maia', 15),
 (223, 'Serie Sem Limite (Disc 2)', 'Tim Maia', 15),
 (219, 'Tangents', 'The Tea Party', 15),
 (126, 'Unplugged [Live]', 'Kiss', 15),
 (247, 'Vinicius De Moraes', 'Vin√≠cius De Moraes', 15),
 (52, 'Vin√≠cius De Moraes - Sem Limite', 'Toquinho & Vin√≠cius', 15),
 (218, 'Voodoo Lounge', 'The Rolling Stones', 15),
 (75, 'Angel Dust', 'Faith No More', 14),
 (85, 'As Can√ß√µes de Eu Tu Eles', 'Gilberto Gil', 14),
 (10, 'Audioslave', 'Audioslave', 14),
 (29, 'Ax√© Bahia 2001', 'Various Artists', 14),
 (30, 'BBC Sessions [Disc 1] [Live]', 'Led Zeppelin', 14),
 (124, 'Cafezinho', 'Jo√£o Suplicy', 14),
 (32, 'Carnaval 2001', 'Various Artists', 14),
 (270, 'Carry On', 'Chris Cornell', 14),
 (27, 'Cidade Negra - Hits', 'Cidade Negra', 14),
 (78, 'Deixa Entrar', 'Falamansa', 14),
 (71, 'Elis Regina-Minha Hist√≥ria', 'Elis Regina', 14),
 (122, 'Jorge Ben Jor 25 Anos', 'Jorge Ben', 14),
 (151, 'Load', 'Metallica', 14),
 (142, 'Lulu Santos - RCA 100 Anos De M√∫sica - √Ålbum 01', 'Lulu Santos', 14),
 (143, 'Lulu Santos - RCA 100 Anos De M√∫sica - √Ålbum 02', 'Lulu Santos', 14),
 (41, 'Meus Momentos', 'Gonzaguinha', 14),
 (157, 'Miles Ahead', 'Miles Davis', 14),
 (42, 'Minha Hist√≥ria', 'Os Mutantes', 14),
 (189, 'New Adventures In Hi-Fi', 'R.E.M.', 14),
 (217, 'No Security', 'The Rolling Stones', 14),
 (166, 'Olodum', 'Olodum', 14),
 (176, 'Original Soundtracks 1', 'Passengers', 14),
 (192, 'Raul Seixas', 'Raul Seixas', 14),
 (196, 'Retrospective I (1974-1980)', 'Rush', 14),
 (271, 'Revelations', 'Audioslave', 14),
 (45, 'Sambas De Enredo 2001', 'Various Artists', 14),
 (238, 'The Best Of 1980-1990', 'U2', 14),
 (47, 'The Best of Ed Motta', 'Ed Motta', 14),
 (215, 'The Police Greatest Hits', 'The Police', 14),
 (174, 'Tribute', 'Ozzy Osbourne', 14),
 (241, 'UB40 The Best Of - Volume Two [UK]', 'UB40', 14),
 (92, 'Use Your Illusion II', "Guns N' Roses", 14),
 (53, 'Vozes do MPB', 'Various Artists', 14),
 (8, 'Warner 25 Anos', 'Ant√¥nio Carlos Jobim', 14),
 (14, 'Alcohol Fueled Brewtality Live! [Disc 1]', 'Black Label Society', 13),
 (89, 'American Idiot', 'Green Day', 13),
 (93, 'Blue Moods', 'Incognito', 13),
 (246, 'Contraband', 'Velvet Revolver', 13),
 (25, 'Da Lama Ao Caos', 'Chico Science & Na√ß√£o Zumbi', 13),
 (69, 'Djavan Ao Vivo - Vol. 02', 'Djavan', 13),
 (70, 'Djavan Ao Vivo - Vol. 1', 'Djavan', 13),
 (119, 'Get Born', 'JET', 13),
 (6, 'Jagged Little Pill', 'Alanis Morissette', 13),
 (158, 'Milton Nascimento Ao Vivo', 'Milton Nascimento', 13),
 (159, 'Minas', 'Milton Nascimento', 13),
 (179, 'Pearl Jam', 'Pearl Jam', 13),
 (153, 'ReLoad', 'Metallica', 13),
 (46, 'Supernatural', 'Santana', 13),
 (82, 'The Colour And The Shape', 'Foo Fighters', 13),
 (48, 'The Essential Miles Davis [Disc 1]', 'Miles Davis', 13),
 (257, '20th Century Masters - The Millennium Collection: The Best of Scorpions', 'Scorpions', 12),
 (95, 'A Real Dead One', 'Iron Maiden', 12),
 (232, 'Achtung Baby', 'U2', 12),
 (74, 'Album Of The Year', 'Faith No More', 12),
 (90, 'Appetite for Destruction', "Guns N' Roses", 12),
 (168, 'Arquivo II', 'Os Paralamas Do Sucesso', 12),
 (321, 'Back to Black', 'Amy Winehouse', 12),
 (12, 'BackBeat Soundtrack', 'BackBeat', 12),
 (212, 'Beyond Good And Evil', 'The Cult', 12),
 (148, 'Black Album', 'Metallica', 12),
 (206, 'Core', 'Stone Temple Pilots', 12),
 (161, 'Demorou...', 'M√¥nica Marianno', 12),
 (242, 'Diver Down', 'Van Halen', 12),
 (88, 'Faceless', 'Godsmack', 12),
 (7, 'Facelift', 'Alice In Chains', 12),
 (99, 'Fear Of The Dark', 'Iron Maiden', 12),
 (38, 'Heart of the Night', 'Spyro Gyra', 12),
 (216, 'Hot Rocks, 1964-1971 (Disc 1)', 'The Rolling Stones', 12),
 (40, 'Into The Light', 'David Coverdale', 12),
 (123, 'Jota Quest-1995', 'Jota Quest', 12),
 (199, 'Maquinarama', 'Skank', 12),
 (164, 'Nevermind', 'Nirvana', 12),
 (11, 'Out Of Exile', 'Audioslave', 12),
 (236, 'Pop', 'U2', 12),
 (63, 'Purpendicular', 'Deep Purple', 12),
 (256, 'Speak of the Devil', 'Ozzy Osbourne', 12),
 (245, 'Van Halen III', 'Van Halen', 12),
 (182, 'Vs.', 'Pearl Jam', 12),
 (175, 'Walking Into Clarksdale', 'Page & Plant', 12),
 (94, 'A Matter of Life and Death', 'Iron Maiden', 11),
 (96, 'A Real Live One', 'Iron Maiden', 11),
 (233, "All That You Can't Leave Behind", 'U2', 11),
 (19, 'Chemical Wedding', 'Bruce Dickinson', 11),
 (98, 'Dance Of Death', 'Iron Maiden', 11),
 (322, 'Frank', 'Amy Winehouse', 11),
 (35, 'Garage Inc. (Disc 1)', 'Metallica', 11),
 (188, 'Green', 'R.E.M.', 11),
 (235, 'How To Dismantle An Atomic Bomb', 'U2', 11),
 (61, "Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 'Deep Purple', 11),
 (207, 'Mezmerize', 'System Of A Down', 11),
 (186, 'News Of The World', 'Queen', 11),
 (200, 'O Samba Pocon√©', 'Skank', 11),
 (81, 'One By One', 'Foo Fighters', 11),
 (187, 'Out Of Time', 'R.E.M. Feat. Kate Pearson', 11),
 (155, 'St. Anger', 'Metallica', 11),
 (117, 'Synkronized', 'Jamiroquai', 11),
 (181, 'Ten', 'Pearl Jam', 11),
 (20, 'The Best Of Buddy Guy - The Millenium Collection', 'Buddy Guy', 11),
 (214, 'The Doors', 'The Doors', 11),
 (77, 'The Real Thing', 'Faith No More', 11),
 (118, 'The Return Of The Space Cowboy', 'Jamiroquai', 11),
 (113, 'The X Factor', 'Iron Maiden', 11),
 (220, 'Transmission', 'The Tea Party', 11),
 (244, 'Van Halen', 'Van Halen', 11),
 (127, 'BBC Sessions [Disc 2] [Live]', 'Led Zeppelin', 10),
 (17, 'Black Sabbath Vol. 4 (Remaster)', 'Black Sabbath', 10),
 (97, 'Brave New World', 'Iron Maiden', 10),
 (191, 'Cesta B√°sica', 'Raimundos', 10),
 (116, 'Emergency On Planet Earth', 'Jamiroquai', 10),
 (1, 'For Those About To Rock We Salute You', 'AC/DC', 10),
 (205, 'In Step', 'Stevie Ray Vaughan & Double Trouble', 10),
 (79, 'In Your Honor [Disc 1]', 'Foo Fighters', 10),
 (80, 'In Your Honor [Disc 2]', 'Foo Fighters', 10),
 (150, "Kill 'Em All", 'Metallica', 10),
 (101, 'Killers', 'Iron Maiden', 10),
 (134, 'Led Zeppelin III', 'Led Zeppelin', 10),
 (103, 'Live At Donington 1992 (Disc 1)', 'Iron Maiden', 10),
 (104, 'Live At Donington 1992 (Disc 2)', 'Iron Maiden', 10),
 (209, 'Live [Disc 1]', 'The Black Crowes', 10),
 (144, 'Misplaced Childhood', 'Marillion', 10),
 (28, 'Na Pista', 'Cl√°udio Zoli', 10),
 (105, 'No Prayer For The Dying', 'Iron Maiden', 10),
 (108, 'Rock In Rio [CD1]', 'Iron Maiden', 10),
 (121, 'Surfing with the Alien (Remastered)', 'Joe Satriani', 10),
 (269, 'Temple of the Dog', 'Temple of the Dog', 10),
 (66, 'The Battle Rages On', 'Deep Purple', 10),
 (177, 'The Beast Live', "Paul D'Ianno", 10),
 (147, 'The Best Of Men At Work', 'Men At Work', 10),
 (49, 'The Essential Miles Davis [Disc 2]', 'Miles Davis', 10),
 (239, 'War', 'U2', 10),
 (240, 'Zooropa', 'U2', 10),
 (156, '...And Justice For All', 'Metallica', 9),
 (31, 'Bongo Fury', 'Frank Zappa & Captain Beefheart', 9),
 (58, 'Come Taste The Band', 'Deep Purple', 9),
 (183, 'Dark Side Of The Moon', 'Pink Floyd', 9),
 (100, 'Iron Maiden', 'Iron Maiden', 9),
 (132, 'Led Zeppelin I', 'Led Zeppelin', 9),
 (133, 'Led Zeppelin II', 'Led Zeppelin', 9),
 (210, 'Live [Disc 2]', 'The Black Crowes', 9),
 (204, 'Morning Dance', 'Spyro Gyra', 9),
 (68, 'Outbreak', 'Dennis Chambers', 9),
 (135, 'Physical Graffiti [Disc 2]', 'Led Zeppelin', 9),
 (106, 'Piece Of Mind', 'Iron Maiden', 9),
 (109, 'Rock In Rio [CD2]', 'Iron Maiden', 9),
 (64, 'Slaves And Masters', 'Deep Purple', 9),
 (65, 'Stormbringer', 'Deep Purple', 9),
 (128, 'Coda', 'Led Zeppelin', 8),
 (129, 'Houses Of The Holy', 'Led Zeppelin', 8),
 (131, 'IV', 'Led Zeppelin', 8),
 (4, 'Let There Be Rock', 'AC/DC', 8),
 (152, 'Master Of Puppets', 'Metallica', 8),
 (9, 'Plays Metallica By Four Cellos', 'Apocalyptica', 8),
 (107, 'Powerslave', 'Iron Maiden', 8),
 (154, 'Ride The Lightning', 'Metallica', 8),
 (197, 'Santana - As Years Go By', 'Santana', 8),
 (110, 'Seventh Son of a Seventh Son', 'Iron Maiden', 8),
 (111, 'Somewhere in Time', 'Iron Maiden', 8),
 (13, 'The Best Of Billy Cobham', 'Billy Cobham', 8),
 (112, 'The Number of The Beast', 'Iron Maiden', 8),
 (114, 'Virtual XI', 'Iron Maiden', 8),
 (16, 'Black Sabbath', 'Black Sabbath', 7),
 (59, 'Deep Purple In Rock', 'Deep Purple', 7),
 (60, 'Fireball', 'Deep Purple', 7),
 (130, 'In Through The Out Door', 'Led Zeppelin', 7),
 (43, 'MK III The Final Concerts [Disc 1]', 'Deep Purple', 7),
 (62, 'Machine Head', 'Deep Purple', 7),
 (136, 'Presence', 'Led Zeppelin', 7),
 (208, '[1997] Black Light Syndrome', 'Terry Bozzio, Tony Levin & Steve Stevens', 7),
 (44, 'Physical Graffiti [Disc 1]', 'Led Zeppelin', 6),
 (198, 'Santana Live', 'Santana', 6),
 (249, 'The Office, Season 1', 'The Office', 6),
 (15, 'Alcohol Fueled Brewtality Live! [Disc 2]', 'Black Label Society', 5),
 (137, 'The Song Remains The Same (Disc 1)', 'Led Zeppelin', 5),
 (50, 'The Final Concerts (Disc 2)', 'Deep Purple', 4),
 (138, 'The Song Remains The Same (Disc 2)', 'Led Zeppelin', 4),
 (87, 'Quanta Gente Veio ver--B√¥nus De Carnaval', 'Gilberto Gil', 3),
 (3, 'Restless and Wild', 'Accept', 3),
 (22, 'Sozinho Remix Ao Vivo', 'Caetano Veloso', 3),
 (171, 'Blizzard of Ozz', 'Ozzy Osbourne', 2),
 (314, 'English Renaissance', "The King's Singers", 2),
 (265, 'Every Kind of Light', 'The Posies', 2),
 (263, 'Muso Ko', 'Habib Koit√© and Bamada', 2),
 (173, 'No More Tears (Remastered)', 'Ozzy Osbourne', 2),
 (262, 'Quiet Songs', 'Aisha Duo', 2),
 (264, 'Realize', 'Karsh Kale', 2),
 (280, 'The World of Classical Favourites', 'Academy of St. Martin in the Fields & Sir Neville Marriner', 2),
 (296, 'A Copland Celebration, Vol. I', 'Aaron Copland & London Symphony Orchestra', 1),
 (285, 'A Soprano Inspired', 'Britten Sinfonia, Ivor Bolton & Lesley Garrett', 1),
 (307, 'Adams, John: The Chairman Dances', 'Edo de Waart & San Francisco Symphony', 1),
 (272, 'Adorate Deum: Gregorian Chant from the Proper of the Mass', 'Alberto Turco & Nova Schola Gregoriana', 1),
 (273, 'Allegri: Miserere', 'Richard Marlow & The Choir of Trinity College, Cambridge', 1),
 (254, 'Aquaman', 'Aquaman', 1),
 (319, 'Armada: Music from the Courts of England and Spain', 'Fretwork', 1),
 (277, 'Bach: Goldberg Variations', 'Wilhelm Kempff', 1),
 (327, 'Bach: Orchestral Suites Nos. 1 - 4', 'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 1),
 (300, 'Bach: The Brandenburg Concertos', 'Orchestra of The Age of Enlightenment', 1),
 (278, 'Bach: The Cello Suites', 'Yo-Yo Ma', 1),
 (297, 'Bach: Toccata & Fugue in D Minor', 'Ton Koopman', 1),
 (276, 'Bach: Violin Concertos', 'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer', 1),
 (2, 'Balls to the Wall', 'Accept', 1),
 (170, 'Bark at the Moon (Remastered)', 'Ozzy Osbourne', 1),
 (325, 'Bartok: Violin & Viola Concertos', 'Yehudi Menuhin', 1),
 (226, 'Battlestar Galactica: The Story So Far', 'Battlestar Galactica', 1),
 (304, 'Beethoven Piano Sonatas: Moonlight & Pastorale', 'Maurizio Pollini', 1),
 (284, 'Beethoven: Symhonies Nos. 5 & 6', 'Orchestre R√©volutionnaire et Romantique & John Eliot Gardiner', 1),
 (324, "Beethoven: Symphony No. 6 'Pastoral' Etc.", 'Otto Klemperer & Philharmonia Orchestra', 1),
 (312, 'Berlioz: Symphonie Fantastique', 'Michael Tilson Thomas & San Francisco Symphony', 1),
 (313, 'Bizet: Carmen Highlights', 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', 1),
 (260, 'Cake: B-Sides and Rarities', 'Cake', 1),
 (295, 'Carmina Burana', 'Boston Symphony Orchestra & Seiji Ozawa', 1),
 (323, 'Carried to Dust (Bonus Track Version)', 'Calexico', 1),
 (328, 'Charpentier: Divertissements, Airs & Concerts', 'Les Arts Florissants & William Christie', 1),
 (301, 'Chopin: Piano Concertos Nos. 1 & 2', 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 1),
 (172, 'Diary of a Madman (Remastered)', 'Ozzy Osbourne', 1),
 (266, 'Duos II', 'Luciana Souza/Romero Lubambo', 1),
 (306, 'Elgar: Cello Concerto & Vaughan Williams: Fantasias', 'Felix Schmidt, London Symphony Orchestra & Rafael Fr√ºhbeck de Burgos', 1),
 (288, 'Faur√©: Requiem, Ravel: Pavane & Others', 'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 1),
 (286, 'Great Opera Choruses', 'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', 1),
 (294, "Great Performances - Barber's Adagio and Other Romantic Favorites for Strings", 'Leonard Bernstein & New York Philharmonic', 1),
 (305, 'Great Recordings of the Century - Mahler: Das Lied von der Erde', 'Gustav Mahler', 1),
 (341, 'Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder', 'Gerald Moore', 1),
 (339, "Great Recordings of the Century: Paganini's 24 Caprices", 'Itzhak Perlman', 1),
 (316, 'Grieg: Peer Gynt Suites & Sibelius: Pell√©as et M√©lisande', 'Berliner Philharmoniker & Herbert Von Karajan', 1),
 (330, 'G√≥recki: Symphony No. 3', 'Adrian Leaper & Doreen de Feis', 1),
 (315, 'Handel: Music for the Royal Fireworks (Original Version 1749)', 'English Concert & Trevor Pinnock', 1),
 (279, 'Handel: The Messiah (Highlights)', 'Scholars Baroque Ensemble', 1),
 (283, 'Haydn: Symphonies 99 - 104', 'Royal Philharmonic Orchestra & Sir Thomas Beecham', 1),
 (292, 'Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies', 'Eugene Ormandy', 1),
 (335, 'J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro', 'Julian Bream', 1),
 (347, 'Koyaanisqatsi (Soundtrack from the Motion Picture)', 'Philip Glass Ensemble', 1),
 (340, "Liszt - 12 √âtudes D'Execution Transcendante", 'Michele Campanella', 1),
 (342, 'Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3', 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 1),
 (302, 'Mascagni: Cavalleria Rusticana', 'James Levine', 1),
 (326, "Mendelssohn: A Midsummer Night's Dream", 'Philharmonia Orchestra & Sir Neville Marriner', 1),
 (345, "Monteverdi: L'Orfeo", 'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu', 1),
 (317, 'Mozart Gala: Famous Arias', 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', 1),
 (346, 'Mozart: Chamber Music', 'Nash Ensemble', 1),
 (320, 'Mozart: Symphonies Nos. 40 & 41', 'Berliner Philharmoniker & Herbert Von Karajan', 1),
 (282, 'Mozart: Wind Concertos', 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', 1),
 (338, 'Nielsen: The Six Symphonies', 'G√∂teborgs Symfoniker & Neeme J√§rvi', 1),
 (274, 'Pachelbel: Canon & Gigue', 'English Concert & Trevor Pinnock', 1),
 (309, 'Palestrina: Missa Papae Marcelli & Allegri: Miserere', 'Choir Of Westminster Abbey & Simon Preston', 1),
 (293, "Pavarotti's Opera Made Easy", 'Luciano Pavarotti', 1),
 (310, 'Prokofiev: Romeo & Juliet', 'Michael Tilson Thomas & San Francisco Symphony', 1),
 (298, 'Prokofiev: Symphony No.1', 'Sergei Prokofiev & Yuri Temirkanov', 1),
 (336, 'Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps', 'Berliner Philharmoniker & Herbert Von Karajan', 1),
 (291, 'Puccini: Madama Butterfly - Highlights', 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', 1),
 (333, 'Purcell: Music for the Queen Mary', 'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir', 1),
 (331, 'Purcell: The Fairy Queen', 'Roger Norrington, London Classical Players', 1),
 (343, 'Respighi:Pines of Rome', 'Eugene Ormandy', 1),
 (318, 'SCRIABIN: Vers la flamme', "Christopher O'Riley", 1),
 (299, 'Scheherazade', 'Chicago Symphony Orchestra & Fritz Reiner', 1),
 (344, "Schubert: The Late String Quartets & String Quintet (3 CD's)", 'Emerson String Quartet', 1),
 (303, 'Sibelius: Finlandia', 'Berliner Philharmoniker & Hans Rosbaud', 1),
 (281, 'Sir Neville Marriner: A Celebration', 'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 1),
 (329, 'South American Getaway', 'The 12 Cellists of The Berlin Philharmonic', 1),
 (311, 'Strauss: Waltzes', 'Eugene Ormandy', 1),
 (337, 'Szymanowski: Piano Works, Vol. 1', 'Martin Roscoe', 1),
 (308, "Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory", 'Antal Dor√°ti & London Symphony Orchestra', 1),

### 4.2 Tracks missing from any playlist (curation gaps)

In [23]:
%%sql
SELECT t.TrackId, t.Name AS Track, ar.Name AS Artist
FROM tracks t
JOIN albums al  ON al.AlbumId  = t.AlbumId
JOIN artists ar ON ar.ArtistId = al.ArtistId
LEFT JOIN playlist_track pt ON pt.TrackId = t.TrackId
WHERE pt.PlaylistId IS NULL
ORDER BY Artist, Track
LIMIT 50;

 * sqlite:///chinook.db
Done.

[]

### 4.3 Most playlisted tracks (social proof)

In [24]:
%%sql
SELECT t.Name AS Track,
       ar.Name AS Artist,
       COUNT(pt.PlaylistId) AS PlaylistsCount
FROM playlist_track pt
JOIN tracks t  ON t.TrackId  = pt.TrackId
JOIN albums al ON al.AlbumId = t.AlbumId
JOIN artists ar ON ar.ArtistId = al.ArtistId
GROUP BY t.TrackId
ORDER BY PlaylistsCount DESC, Track
LIMIT 20;

 * sqlite:///chinook.db
Done.

[("A Midsummer Night's Dream, Op.61 Incidental Music: No.7 Notturno", 'Philharmonia Orchestra & Sir Neville Marriner', 5),
 ('Aria Mit 30 Ver√§nderungen, BWV 988 "Goldberg Variations": Aria', 'Wilhelm Kempff', 5),
 ('Ave Maria', 'Britten Sinfonia, Ivor Bolton & Lesley Garrett', 5),
 ('Carmen: Overture', 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', 5),
 ('Carmina Burana: O Fortuna', 'Boston Symphony Orchestra & Seiji Ozawa', 5),
 ('Cavalleria Rusticana \\ Act \\ Intermezzo Sinfonico', 'James Levine', 5),
 ('Concerto for Piano No. 2 in F Minor, Op. 21: II. Larghetto', 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 5),
 ('Concerto for Violin, Strings and Continuo in G Major, Op. 3, No. 9: I. Allegro', 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 5),
 ('Das Lied Von Der Erde, Von Der Jugend', 'Gustav Mahler', 5),
 ('Die Walk√ºre: The Ride of the Valkyries', 'Sir Georg Solti & Wiener Philharmoniker', 5),
 ('Die Zauberfl√∂te, K.620: "Der H√∂lle Rache Kocht in Meinem Herze"', 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', 5),
 ('Fantasia On Greensleeves', 'Academy of St. Martin in the Fields & Sir Neville Marriner', 5),
 ('Intoitus: Adorate Deum', 'Alberto Turco & Nova Schola Gregoriana', 5),
 ('Jupiter, the Bringer of Jollity', 'Eugene Ormandy', 5),
 ('Karelia Suite, Op.11: 2. Ballade (Tempo Di Menuetto)', 'Berliner Philharmoniker & Hans Rosbaud', 5),
 ('Koyaanisqatsi', 'Philip Glass Ensemble', 5),
 ('Lamentations of Jeremiah, First Set \\ Incipit Lamentatio', "The King's Singers", 5),
 ('Metopes, Op. 29: Calypso', 'Martin Roscoe', 5),
 ('Miserere mei, Deus', 'Richard Marlow & The Choir of Trinity College, Cambridge', 5),
 ('Music for the Royal Fireworks, HWV351 (1749): La R√©jouissance', 'English Concert & Trevor Pinnock', 5)]


<a id="five"></a>
## 5Ô∏è‚É£. Team Performance (Support Reps as Account Managers)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ‚ö° Business Problem from Management ‚ö° |
| :--------------------------- |
| Sales leadership needs to be able to measure employee's effectiveness and performance visibility:
- Revenue under management
- Average invoice value  
- Portfolio size to guide management decision on incentives and coverage

---


### **Queries**

### 5.1 Revenue managed by each sales representative

In [29]:
%%sql
SELECT e.EmployeeId,
       e.FirstName || ' ' || e.LastName AS Employee,
       ROUND(SUM(i.Total), 2) AS RevenueManaged
FROM employees e
JOIN customers c ON c.SupportRepId = e.EmployeeId
JOIN invoices  i ON i.CustomerId   = c.CustomerId
GROUP BY e.EmployeeId
ORDER BY RevenueManaged DESC;

 * sqlite:///chinook.db
Done.

[(3, 'Jane Peacock', 833.04),
 (4, 'Margaret Park', 775.4),
 (5, 'Steve Johnson', 720.16)]

### 5.2 Average invoice value per sales representative

In [30]:
%%sql
SELECT e.EmployeeId,
       e.FirstName || ' ' || e.LastName AS Employee,
       ROUND(AVG(i.Total), 2) AS AvgInvoice
FROM employees e
JOIN customers c ON c.SupportRepId = e.EmployeeId
JOIN invoices  i ON i.CustomerId   = c.CustomerId
GROUP BY e.EmployeeId
ORDER BY AvgInvoice DESC;

 * sqlite:///chinook.db
Done.

[(5, 'Steve Johnson', 5.72),
 (3, 'Jane Peacock', 5.71),
 (4, 'Margaret Park', 5.54)]

### 5.3. Portfolio size vs revenue

In [27]:
%%sql
SELECT e.EmployeeId,
       e.FirstName || ' ' || e.LastName AS Employee,
       COUNT(DISTINCT c.CustomerId) AS CustomersManaged,
       ROUND(SUM(i.Total), 2)       AS RevenueManaged
FROM employees e
LEFT JOIN customers c ON c.SupportRepId = e.EmployeeId
LEFT JOIN invoices  i ON i.CustomerId   = c.CustomerId
GROUP BY e.EmployeeId
ORDER BY RevenueManaged DESC, CustomersManaged DESC;

 * sqlite:///chinook.db
Done.

[(3, 'Jane Peacock', 21, 833.04),
 (4, 'Margaret Park', 20, 775.4),
 (5, 'Steve Johnson', 18, 720.16),
 (1, 'Andrew Adams', 0, None),
 (2, 'Nancy Edwards', 0, None),
 (6, 'Michael Mitchell', 0, None),
 (7, 'Robert King', 0, None),
 (8, 'Laura Callahan', 0, None)]